/* img {
-webkit-filter: blur(1px);
-moz-filter: blur(1px);
-o-filter: blur(1px);
-ms-filter: blur(1px);

filter: blur(1px);
} */
.baniere {
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}


.mtg {
  height: 15px;
}

.item {
  font-family: 'magicthe_gatheringregular';

}

.dropdown {
  font-family: 'magicthe_gatheringregular';
}

#myCarousel{
    margin-top: 50px;
}
